* {
    margin: 0px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 100px;

}

.banner-info {
    width: 50%;
    padding-left: 40px;
}

.banner-details {
    width: 60%;
    padding: 35px 0px 35px 0px;
    color: rgba(39, 39, 39, 0.60);
}

.btn-primary {
    background-color: #E55473;
    color: white;
    height: 60px;
    width: 160px;
    border-radius: 8px;
    padding: 20px 42px;
    font-weight: 700;
}

/* main style start */
.feature-container {
    text-align: center;
    padding: 100px 0px 40px 0px;
    /* background-color: aquamarine;
    width: 500px;
    height: 150px; */
    background-color: white;
    align-items: center;

}

.feature-container-details {
    padding-top: 25px;
    color: rgba(39, 39, 39, 0.60);

}

/* hot deal section  */
.deal-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(229, 84, 115, 0.05);
    ;
    border-radius: 8px;
    padding: 50px 0px 50px 0px;
}

.deal-info {
    text-align: center;
}

.deal-details {
    padding: 25px 35px;
    color: rgba(39, 39, 39, 0.60);
}

/* instagram section */
.instagram-container {
    text-align: center;
    padding: 120px 0px;
    height: 10px;

}

.instagram-container p {
    padding-top: 30px;
    color: rgba(39, 39, 39, 0.60);
}

/* images section  */
/* .images-container {
    display: flex;
    width: 50%;
    gap: 24px;
    padding: 0px 100px 0px 100px;
}

.image {
    width: 302px;
    height: 306px;
} */
.image-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.image-container img {
    width: 20%;
    height: auto;
    object-fit: cover;
}
/* Latest deals */
.latest-deals{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
    margin: 90px;
    
}
.deals-info{
    align-items: center;
}